<h2>
    Crear nuevo Empleado
</h2>

<div class="container">
    <form [formGroup] = "agregarEmpleado">
      <ul class="flex-outer">
       
        <li>
          <label >Nombre:</label>
          <input type="text" id="nombre" placeholder="Nombre del empeleado" formControlName="nombre" required>        
        </li>
        <p *ngIf = "agregarEmpleado.controls['nombre'].touched && agregarEmpleado.controls['nombre'].errors?.['required']" class = "requiredAlert">
          El campo "nombre" es obligatorio
        </p>
        <p *ngIf=" agregarEmpleado.controls['nombre'].touched 
         && agregarEmpleado.get('nombre')?.hasError('nombreNoValido')" class="requiredAlert">
          El nombre solo debe contener letras y espacios
        </p>


        <li>
          <label>Apellido:</label>
          <input type="text" id="last-name" placeholder="Apellido del empleado" formControlName="apellido">
        </li>
        <p *ngIf = "agregarEmpleado.controls['apellido'].touched && agregarEmpleado.controls['apellido'].errors?.['required']" class = "requiredAlert">
            El campo "apellido" es obligatorio
        </p>


         <li>
          <label>DNI:</label>
          <input type="number" placeholder="Número de documento" formControlName="nroDocumento">
        </li>
        <p *ngIf = "agregarEmpleado.controls['nroDocumento'].touched && agregarEmpleado.controls['nroDocumento'].errors?.['required']" class = "requiredAlert">
          El campo "nroDocumento" es obligatorio
        </p>


        <li>
          <label>Email</label>
          <input type="email" id="email" placeholder="Mail del empleado" formControlName="email">
        </li>
        <p *ngIf="agregarEmpleado.get('email')?.hasError('required') && agregarEmpleado.get('email')?.touched" class="requiredAlert">
          El campo "email" es obligatorio
        </p>
        <p *ngIf="agregarEmpleado.get('email')?.hasError('email') && agregarEmpleado.get('email')?.touched" class="requiredAlert">
          El formato del correo electrónico no es correcto. Un formato correcto sería: ejemplo@mail.com
        </p>


        <li>
          <label>Fecha de Nacimiento:</label>
          <input type="date" id="fechaNacimiento" formControlName="fechaNacimiento">
        </li>
        <p *ngIf="agregarEmpleado.get('fechaNacimiento')?.hasError('fechaNoPosterior')" class="requiredAlert">
          La fecha de nacimiento no puede ser posterior a la fecha actual
        </p>
        <p *ngIf="agregarEmpleado.get('fechaNacimiento')?.hasError('edadNoValida')" class="requiredAlert">
          La edad del empleado debe ser mayor o igual a 18 años
        </p>

        <li>
          <label>Fecha de Ingreso:</label>
          <input type="date" id="fechaIngreso" formControlName="fechaIngreso">
        </li>
        <p *ngIf="agregarEmpleado.get('fechaIngreso')?.hasError('fechaNoPosterior')" class="requiredAlert">
          La fecha de ingreso no puede ser posterior a la fecha actual
        </p>

        <li>
          <button type="submit" class="btn btn-primary" (click)="agregarEmpleadoNuevo()" [disabled] = "!agregarEmpleado.valid"> Enviar Formulario</button>
        </li>
      </ul>
    </form>
  </div>
  <app-modal-empleado-enviado *ngIf="modalEmpleadoEnviado"  [empleadoModal]= "empleado"> </app-modal-empleado-enviado>

  <app-modal-error *ngIf="showModalError"  [errorInModal] = "error"> </app-modal-error>