<ng-container *ngIf="showmodalError">

    <div class="modalGeneral" #salirDelModal>
        <div class="ModalContent">
            <div class="Modalcheader">
                ERROR {{errorInModal.statusCode}} Error al intentar agregar un nuevo empleado.
            </div>
            <div class="ModalContainer">
                <li>
                    {{errorInModal.statusMessage}}
                </li>
                <button class="btn btn-primary butonError" (click)="cerrarModal()"> Aceptar </button>

            </div>
        </div>
    </div>
</ng-container>
