/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }



body{
    /* margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif;
    background: #4444b0;  
    background: -webkit-linear-gradient(to right, #4a71d3, #668ae4);  
    background: linear-gradient(to right, #4a71d3, #668ae4); 
     */



    margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif;
    background: #4444b0;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #6979a0, #9daed8);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #6979a0, #9daed8); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
}


.ng-valid:not(form).ng-touched {
    border-left: 5px solid #039508;
}

.ng-invalid:not(form).ng-touched {
    border-left: 5px solid #cf0404;
}